*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style-type: none;
}

body{
    display:block;
}
#main{
    display:flex;
    align-items: center;
    justify-content: center;
}
nav{
    max-width:100%;
    text-align: center;
}
nav ul{
    display:inline-flex;
}
ul li{
    margin-left:20px;
}
#options{
    display:block;
    margin-top:20px;
}
footer{
    display:block;
}

